<div class="jumbotron">
  <h1 class="display-4">Shock!Team Page</h1>
  <p class="lead">Test?</p>
  <hr class="my-4">
  <p>Explota.</p>
  <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
</div>
