<!--<div class="alert alert-dark" role="alert">
 Meet an <a href="/about" class="alert-link">old friend</a>. Give it a click if you like.
</div>-->

<div class="media">
  <img src="https://avatars3.githubusercontent.com/u/54344877?s=200&v=4" class="mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">Texto de prueba</h5>
    Al toque wacho.
  </div>
</div>

<div class="col-4">
  <img src="assets/images/3.jpg" class="img-thumbnail"/>
</div>

